body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.video-container {
    margin-top: 20px;
    width: 80%; /* Cambiamos el tamaño del video-container */
    margin: auto; /* Centramos el video-container */
    overflow: hidden; /* Ocultamos el contenido sobrante */
}

.video-container video {
    width: 100%; /* Hacemos que el video ocupe todo el ancho del contenedor */
    height: auto; /* Permitimos que la altura se ajuste automáticamente */
}

#video-box {
    width: 80%; /* Ancho deseado del contenedor de video */
    margin: auto; /* Centrar el contenedor de video horizontalmente */
}