html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Tablet (768px breakpoint) */
@media only screen and (max-width: 768px) {
    .encabezado {
        /* Adjust the padding and font size for the header on tablets */
        display: none; /* Esconder el header en tablets, pero buscar manera para q solo se quede en la del inicio*/
        padding: 10px;
        font-size: 1.2em;
    }

    nav ul {
        /* Adjust the layout of the navigation list on tablet */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caja {
        /* Adjust the margin and text alignment for the .caja section on tablets */
        margin: 20px;
        width: 100%;
        height: 30%;
    }

    .caja p {
        /* Adjust the font size for the .caja paragraph on tablets */
        display: none;
    }

    .titulo {
        /* Adjust the font size for the .titulo heading on tablets */
        display: none;
    }
    .formulario {
        /* Adjust the margin and text alignment for the form on tablets */
        margin: 20px;
        text-align: center;
    }

    #acceder {
        /* Adjust the font size and padding for the button on tablets */
        font-size: 1.5em;
        padding: 10px 20px;
    }
    #crearcuenta {
        /* Adjust the font size and padding for the button on tablets */
        font-size: 1.5em;
        padding: 10px 20px;
    }
    .fotos {
        /* Adjust the margin and layout for the .fotos div on tablets */
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foto {
        /* Adjust the width and height for the images on tablets */
        max-width: 100%;
        height: auto;
    }

    .texto-hamburguesas {
        /* Adjust the font size for the .texto-hamburguesas heading on tablets */
        font-size: 1.5em;
    }
    .galeria-pedido {
        /* Adjust the layout for the .galeria-pedido div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cuadrado {
        /* Adjust the margin for the .cuadrado div on tablets */
        margin: 20px;
    }

    .photo {
        /* Adjust the width and height for the images on tablets */
        width: 100%;
        height: auto;
    }

    .boton-pideya {
        /* Adjust the font size and padding for the .boton-pideya div on tablets */
        font-size: 1.5em;
        padding: 10px 20px;
    }
    .cuadro-reservas {
        /* Adjust the layout for the .cuadro-reservas div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-reserva {
        /* Adjust the margin for the .texto-reserva div on tablets */
        margin: 20px;
    }

    .horas-reservas {
        /* Adjust the layout for the .horas-reservas div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boton-horas {
        /* Adjust the font size and padding for the .boton-horas button on tablets */
        font-size: 1.5em;
        padding: 10px 20px;
    }

    .confirmar-reserva {
        /* Adjust the font size and padding for the .confirmar-reserva div on tablets */
        font-size: 1.5em;
        padding: 10px 20px;
    }
    .confirmacion {
        /* Adjust the layout for the .confirmacion div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-confirmacion {
        /* Adjust the margin and font size for the .texto-confirmacion div on tablets */
        margin: 20px;
        font-size: 1.5em;
    }
    .cuadro-pedido {
        /* Adjust the layout for the .cuadro-pedido div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-grande, .texto-peque침o {
        /* Adjust the font size for the .texto-grande and .texto-peque침o paragraphs on tablets */
        font-size: 1.5em;
    }

    .actions {
        /* Adjust the layout for the .actions div on tablets */
        display: flex;
        justify-content: space-around;
    }
    .confirmacion2 {
        /* Adjust the layout for the .confirmacion2 div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-confirmacion2 {
        /* Adjust the margin and font size for the .texto-confirmacion2 div on tablets */
        margin: 20px;
        font-size: 1.5em;
    }

    .botones-pedido {
        /* Adjust the layout for the .botones-pedido div on tablets */
        display: flex;
        justify-content: space-around;
    }
    .pag-pago {
        /* Adjust the layout for the .pag-pago div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulario1 {
        /* Adjust the layout for the .formulario1 form on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botones-pedido2 {
        /* Adjust the layout for the .botones-pedido2 div on tablets */
        display: flex;
        justify-content: space-around;
    }
    .confirmacion3 {
        /* Adjust the layout for the .confirmacion3 div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-confirmacion3 {
        /* Adjust the margin and font size for the .texto-confirmacion3 div on tablets */
        margin: 20px;
        font-size: 1.5em;
    }

    .boton-seguimiento {
        /* Adjust the layout for the .boton-seguimiento div on tablets */
        display: flex;
        justify-content: center;
    }
    .seguimiento-pedido {
        /* Adjust the layout for the .seguimiento-pedido div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fotos-seguimiento {
        /* Adjust the layout for the .fotos-seguimiento div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        /* Adjust the layout for the .footer div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

/* Mobile Styles (600px and below) */
@media only screen and (max-width: 600px) {
    .encabezado {
        /* Adjust styles for the header on mobile phones */
    }

    nav ul {
        /* Adjust styles for the navigation on mobile phones */
    }

    /* ... Add more styles for mobile layout ... */
}

* {
    box-sizing: border-box;
}

.page {
    background-image: url(fondo.png);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.page1 {
    background-image: url(pag2.png);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.encabezado {
    background-color: rgb(164, 84, 23, 0.5); /* Fondo semitransparente para el encabezado */
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.user {
    background-color: rgb(164, 84, 23, 0.7);
    font-size: 25px;
    padding: 0.4%;
    margin-top: 1.5%;
    margin-bottom: 1.8%;
}

.user:hover {
    background-color: rgb(164, 84, 23);
    border: 1px solid rgb(226, 222, 178);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0%;
    display: flex;
}

nav ul li {
    margin-right: 4%;
}

nav a {
    text-decoration: none;
    color: rgb(226, 222, 178);
    font-weight: bold;
}

nav a.bb {
    font-size: 90px;
    margin-left: 10%;
    padding: 0%;
}

nav a.resto {
    font-size: 45px;
    color: rgb(226, 222, 178);
}

nav a.inicio {
    color: rgb(164, 84, 23);
    font-size: 45px;
}

nav a.carta {
    color: rgb(164, 84, 23);
    font-size: 45px;
}

nav a.reservar {
    color: rgb(164, 84, 23);
    font-size: 45px;
}

nav a.pideya {
    color: rgb(164, 84, 23);
    font-size: 45px;
}

nav a.resto:hover {
    color: rgb(164, 84, 23);
    font-size: 45px;
}

.caja {
    background-color: rgb(164, 84, 23, 0.5); /* Fondo semitransparente del cuadro */
    padding: 3%;
    margin: 5%; /* Espaciado externo del cuadro */
    margin-top: 10%;
    text-align: center;
    border-radius: 10px; /* Esquinas redondeadas del cuadro */
}

.caja p {
    font-size: 40px;
    color: rgb(226, 222, 178);
}

.pide {
    background-color: rgb(164, 84, 23, 0.9);
    margin-top: 25%;
}

.pide:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
    border: 1px solid rgb(164, 84, 23);
}

.titulo {
    margin-top: 10%;
    margin-left: 2%;
    font-size: 105px;
    color: rgb(226, 222, 178);
}

.formulario {
    width: 70%;
    text-align: center;
    background-color: rgb(164, 84, 23, 0.5);
    border: 1px solid rgb(226, 222, 178);
    margin-top: 11%;
    margin-left: 15%;
    margin-bottom: 5%;
    border-radius: 2vw;
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);
}

.formulario h2 {
    font-size: 43px;
    color: rgb(226, 222, 178);
}

.formulario h3 {
    font-size: 30px;
    color: rgb(226, 222, 178);
}

.formulario a {
    font-size: 38px;
    color: rgb(226, 222, 178);
    font-weight: bold;
}

.formulario a:hover {
    color: rgb(164, 84, 23);
    background-color: rgb(226, 222, 178, 0.5);
    margin-left: 22%;
    margin-right: 22%;
}

input {
    border: 2px solid rgb(226, 222, 178);
    border-radius: 5vw;
    padding: 0.55%;
    padding-left: 2%;
    padding-right: 60%;
    font-size: 15px;
    margin: 1.7vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    font-size: 2vh;
    margin-top: 1vh;
}

button {
    margin: 2%;
    border-radius: 0.5vw;
    padding: 0.5%;
    padding-left: 25%;
    padding-right: 25%;
    cursor: pointer;
    background-color: rgb(164, 84, 23, 0.9);
    color: rgb(226, 222, 178);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fotos {
    margin: 5%;
    margin-top: 11%;
}

.foto {
    border: 2px solid rgb(226, 222, 178);
}

.texto-hamburguesas {
    color: rgb(226, 222, 178);
    text-align: center;
    font-size: 44px;
}

.texto-hamburguesas:hover {
    color: rgb(164, 84, 23);
}

.galeria-pedido {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6%;
    position: relative;
    margin: 6%;
    width: 100%;
}

.cuadrado {
    background-color: rgb(164, 84, 23);
    position: relative;
    padding-left: 8%; 
    padding-top: 7%;
    padding-right: 7%;
    border: 2px solid rgb(226, 222, 178);
    margin-top: 7%;
    margin-left: 10%;
    width: 80%;
}

.cuadrado p {
    color: rgb(226, 222, 178);
    font-size: 110%;
    position: relative;
    width: 100%;
    text-align: center;
}

.photo {
    width: 90%;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 11vw;
    height: 11vw;
    object-fit: cover;
    border: 2px solid rgb(226, 222, 178);
}

.boton-pideya {
    margin: 1%;
    margin-top: 82%;
    background-color: rgb(164, 84, 23);
    border: 1px solid rgb(226, 222, 178);
    border-radius: 5px;
    color: rgb(226, 222, 178);
    text-align: center;
}

.boton-pideya p {
    font-size: 28px;
    margin: 5%;
    padding-left: 7%;
    padding-right: 7%;
}

.boton-pideya:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
}

.cuadro-reservas {
    width: 60%;
    margin: 3%;
    margin-top: 8%;
    margin-bottom: 4.5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(164, 84, 23, 0.5);
    color: rgb(226, 222, 178);
    border-radius: 1vw;
}

.foto-rest {
    margin-left: 6%;
}

.horas-reservas {
    margin-top: 17%;
    margin-left: 25%;
}

.telfs {
    margin-top: 8%;
}

.tel1 {
    margin-top: 17%;
}

.tel2 {
    margin-top: 32%;
}

.tel3 {
    margin-top: 32%;
}

.texto-reserva {
    margin: 8%;
    margin-bottom: 12%;
    margin-left: 12%;
    font-weight: bold;
}

.horas {
    margin-bottom: 18%;
}

.boton-horas:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
}

.confirmar-reserva {
    background-color: rgb(164, 84, 23);
    color: rgb(226, 222, 178);
    margin: 2%;
    margin-top: 37.5%;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 20%;
    text-align: center;
    border-radius: 1vw;
    border: 1px solid rgb(226, 222, 178);
}

.confirmar-reserva p {
    margin: 5%;
    font-size: 30px;
}

.confirmar-reserva:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
}

.confirmacion {
    color: rgb(226, 222, 178);
    margin-top: 8%;
}

.confirmacion h2 {
    font-size: 75px;
    text-align: center;
    margin-left: 65%;
}

.texto-confirmacion {
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23, 0.5);
    margin-top: 1%;
    margin-left: 43%;
    width: 100%;
    text-align: center;
}

.texto-confirmacion p {
    font-size: 40px;
    margin: 8%;
    padding: 2%;
}

.cuadro-pedido {
    display: grid;
    grid-template-columns: repeat(1, 4fr 1fr);
    background-color: rgb(164, 84, 23, 0.5);
    color: rgb(226, 222, 178);
    width: 75%; 
    margin: 2%;
    margin-top: 8%;
    margin-bottom: 5%;
}

.texto-grande {
    font-weight: bold;
    font-size: 18px;
    margin-left: 2%;
}

.texto-peque침o {
    font-size: 15px;
    margin-left: 2%;
    margin-bottom: 1.8%;
}

.sumaelementos {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    margin: 7%;
    margin-left: 30%;
    font-weight: bold;
}
.actions button {
    font-size: 25px; 
    padding: 5px; 
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(164, 84, 23);
}

.actions {
    display: inline-block; 
    max-width: 100%; 
}

.boton-siguiente {
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23);
    font-size: 35px;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 39%;
    margin-bottom: 5.5%;
    border-radius: 1vw;
    border: 1px solid rgb(226, 222, 178);
}

.boton-siguiente:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
    border: 1px solid rgb(164, 84, 23);
}

.confirmacion2 {
    font-size: 45px;
    color: rgb(226, 222, 178);
    margin-top: 8%;
    margin-left: 20%;
}

.texto-confirmacion2 {
    color: black;
    background-color: rgb(226, 222, 178);
    margin-top: 1%;    
    font-size: 30px;
    border-radius: 1vw;
}

.texto-confirmacion2 p {
    margin: 2%;
    padding-top: 2%;
    padding-bottom: 22%;
}

.botones-pedido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
    margin-left: 15%;
}

.bot-ped1 {
    background-color: rgb(226, 222, 178);
    padding: 2%;
    margin-right: 25%;
    text-align: center;
    font-size: 40px;
    border-radius: 1vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.bot-ped1:hover {
    background-color: rgb(164, 84, 23);
    color: rgb(226, 222, 178);
    border: 2px solid rgb(226, 222, 178);
}

.pag-pago {
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4.5%;
    color: rgb(226, 222, 178);
    text-align: center;
    font-size: 40px;
}

.formulario1 {
    width: 100%;
    text-align: center;
    background-color: rgb(164, 84, 23, 0.5);
    border: 1px solid rgb(226, 222, 178);  
    border-radius: 2vw;
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);
    padding-bottom: 2%;
}

.formulario1 h2 {
    font-size: 35px;
    color: rgb(226, 222, 178);
}

.botones-pedido2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
    margin-left: 15%;
}

.bot-ped2 {
    background-color: rgb(226, 222, 178);
    padding: 2%;
    margin-right: 25%;
    text-align: center;
    font-size: 25px;
    border-radius: 1vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-top: 5%;
}

.bot-ped2:hover {
    background-color: rgb(164, 84, 23);
    color: rgb(226, 222, 178);
    border: 2px solid rgb(226, 222, 178);
}

.confirmacion3 {
    color: rgb(226, 222, 178);
    margin-top: 8%;
}

.confirmacion3 h2 {
    font-size: 75px;
    text-align: center;
    margin-left: 70%;
}

.texto-confirmacion3 {
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23, 0.7);
    margin-top: 1%;
    margin-left: 52%;
    width: 100%;
    text-align: center;
}

.texto-confirmacion3 p {
    font-size: 40px;
    margin: 8%;
    padding: 2%;
}

.boton-seguimiento {
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23);
    font-size: 30px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 39%;
    margin-bottom: 6%;
    margin-left: 32%;
    border: 1px solid rgb(226, 222, 178);  
    border-radius: 1vw;
}

.boton-seguimiento:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
}

.seguimiento-pedido {
    color: rgb(226, 222, 178);
    width: 100%;
}

.seguimiento-pedido h2 {
    font-size: 65px;
    margin-top: 8%;
    margin-left: 15%;
}

.fotos-seguimiento {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(164, 84, 23, 0.7);
    margin-left: 8%;
    margin-right: 7%;
    padding: 2%;
}

.foto-seg1 {
    margin-left: 10%;
}

.foto-seg2 {
    margin-left: 7%;
}

.foto-seg3 {
    margin-left: 23%;
}

.texto-seguimiento {
    color: black;
    font-size: 30px;
    margin-left: 18%;
    font-weight: bold;
}

.texto-seguimiento3 {
    color: black;
    font-size: 30px;
    margin-left: 30%;
    font-weight: bold;
}


/* Estilo footer*/
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1%;
    background-color: rgb(226, 222, 178);
    margin: 0%;
    text-align: center;
}

.footer a {
    font-size: 20px;
    margin-left: 4%;
    margin-right: 5%;
    color: black;
}

.footer a:hover {
    color: blue; /*Cuando pasamos el cursor por encima del contenido del pie de p치gina, este cambia de color a azul*/
}

.logos-footer {
    margin: 2%;
}