html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
}

.page {
    background-image: url(fondo.png);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.page1 {
    background-image: url(pag2.png);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.encabezado {
    background-color: rgb(164, 84, 23, 0.5); /* Fondo semitransparente para el encabezado */
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0%;
    display: flex;
}

nav ul li {
    margin-right: 4%;
}

nav a {
    text-decoration: none;
    color: rgb(226, 222, 178);
    font-weight: bold;
}

nav a.bb {
    font-size: 90px;
    margin-left: 10%;
    padding: 0%;
}

nav a.resto {
    font-size: 45px;
    color: rgb(226, 222, 178)
}

nav a.inicio {
    color: rgb(164, 84, 23);
    font-size: 45px;
}

nav a.carta {
    color: rgb(164, 84, 23);
    font-size: 45px;
}

nav a.reservar {
    color: rgb(164, 84, 23);
    font-size: 45px;
}

nav a.pideya {
    color: rgb(164, 84, 23);
    font-size: 45px;
}

nav a.resto:hover {
    color: rgb(164, 84, 23);
    font-size: 45px;
}



.caja {
    background-color: rgb(164, 84, 23, 0.5); /* Fondo semitransparente del cuadro */
    padding: 3%;
    margin: 5%; /* Espaciado externo del cuadro */
    margin-top: 10%;
    text-align: center;
    border-radius: 10px; /* Esquinas redondeadas del cuadro */
}

.caja p {
    font-size: 40px;
    color: rgb(226, 222, 178);

}

.pide {
    background-color: rgb(164, 84, 23, 0.9);
    margin-top: 25%;
}

.titulo {
    margin-top: 10%;
    margin-left: 2%;
    font-size: 105px;
    color: rgb(226, 222, 178);
}

.formulario {
    width: 70%;
    text-align: center;
    background-color: rgb(164, 84, 23, 0.5);
    border: 1px solid rgb(226, 222, 178);
    margin-top: 11%;
    margin-left: 15%;
    margin-bottom: 5%;
    border-radius: 2vw;
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);
}

.formulario h2 {
    font-size: 43px;
    color: rgb(226, 222, 178);
}

.formulario h3 {
    font-size: 30px;
    color: rgb(226, 222, 178);
}

.formulario a {
    font-size: 38px;
    color: rgb(226, 222, 178);
    font-weight: bold;
}

.formulario a:hover {
    color: rgb(164, 84, 23);
    background-color: rgb(226, 222, 178, 0.5);
    margin-left: 22%;
    margin-right: 22%;
}

input {
    border: 2px solid rgb(226, 222, 178);
    border-radius: 5vw;
    padding: 0.55%;
    padding-left: 2%;
    padding-right: 60%;
    font-size: 15px;
    margin: 1.7vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    font-size: 2vh;
    margin-top: 1vh;
}

button {
    margin: 2%;
    border-radius: 0.5vw;
    padding: 0.5%;
    padding-left: 25%;
    padding-right: 25%;
    cursor: pointer;
    background-color: rgb(164, 84, 23, 0.9);
    color: rgb(226, 222, 178);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fotos {
    margin: 5%;
    margin-top: 11%;
}

.foto {
    border: 2px solid rgb(226, 222, 178);
}

.texto-hamburguesas {
    color: rgb(226, 222, 178);
    text-align: center;
    font-size: 44px;
}

.texto-hamburguesas:hover {
    color: rgb(164, 84, 23);
}

.galeria-pedido {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6%;
    position: relative;
    margin: 6%;
    width: 100%;
}

.cuadrado {
    background-color: rgb(164, 84, 23);
    position: relative;
    padding-left: 8%; 
    padding-top: 7%;
    padding-right: 7%;
    border: 2px solid rgb(226, 222, 178);
    margin-top: 7%;
    margin-left: 10%;
    width: 80%;
}

.cuadrado p {
    color: rgb(226, 222, 178);
    font-size: 110%;
    position: relative;
    width: 100%;
    text-align: center;
}

.photo {
    width: 90%;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 11vw;
    height: 11vw;
    object-fit: cover;
    border: 2px solid rgb(226, 222, 178);
}

.boton-pideya {
    margin: 1%;
    margin-top: 82%;
    background-color: rgb(164, 84, 23);
    border: 1px solid rgb(226, 222, 178);
    border-radius: 5px;
    color: rgb(226, 222, 178);
    text-align: center;
}

.boton-pideya p {
    font-size: 28px;
    margin: 5%;
    padding-left: 7%;
    padding-right: 7%;
}

.boton-pideya:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
}

.cuadro-reservas {
    width: 60%;
    margin: 3%;
    margin-top: 8%;
    margin-bottom: 4.5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(164, 84, 23, 0.5);
    color: rgb(226, 222, 178);
    border-radius: 1vw;
}

.horas-reservas {
    margin: 2%;
    margin-left: 55%;
}

.texto-reserva {
    margin: 5%;
    margin-bottom: 9%;
}

.horas {
    margin-bottom: 5%;
}

.boton-horas:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
}

.confirmar-reserva {
    background-color: rgb(164, 84, 23);
    color: rgb(226, 222, 178);
    margin: 2%;
    margin-top: 37.5%;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 20%;
    text-align: center;
    border-radius: 1vw;
    border: 1px solid rgb(226, 222, 178);
}

.confirmar-reserva p {
    margin: 5%;
    font-size: 30px;
}

.confirmar-reserva:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
}

.confirmacion {
    color: rgb(226, 222, 178);
    margin-top: 8%;
}

.confirmacion h2 {
    font-size: 75px;
    text-align: center;
    margin-left: 65%;
}

.texto-confirmacion {
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23, 0.5);
    margin-top: 1%;
    margin-left: 43%;
    width: 100%;
    text-align: center;
}

.texto-confirmacion p {
    font-size: 40px;
    margin: 8%;
    padding: 2%;
}


.cuadro-pedido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(164, 84, 23, 0.5);
    color: rgb(226, 222, 178);
    width: 80%; 
    margin: 2%;
    margin-top: 8%;
    margin-bottom: 5%;
}

.texto-grande {
    font-weight: bold;
    font-size: 16px;
    margin-left: 2%;
}

.texto-pequeño {
    font-size: 14px;
    margin-left: 2%;
    margin-bottom: 1.8%;
}

.sumaelementos {
    margin-top: 4%;
    margin-left: 70%;
    margin-right: 4%;
}

.actions {
    margin-bottom: 7%;
}

.confirmacion2 {
    font-size: 45px;
    color: rgb(226, 222, 178);
    margin-top: 8%;
    margin-left: 20%;
}

.texto-confirmacion2 {
    color: black;
    background-color: rgb(226, 222, 178);
    margin-top: 1%;    
    font-size: 30px;
    border-radius: 1vw;
}

.texto-confirmacion2 p {
    margin: 2%;
    padding-top: 2%;
    padding-bottom: 22%;
}

.botones-pedido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
    margin-left: 15%;
}

.bot-ped1 {
    background-color: rgb(226, 222, 178);
    padding: 2%;
    margin-right: 25%;
    text-align: center;
    font-size: 40px;
    border-radius: 1vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.bot-ped1:hover {
    background-color: rgb(164, 84, 23);
    color: rgb(226, 222, 178);
    border: 2px solid rgb(226, 222, 178);
}

.pag-pago {
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4.5%;
    color: rgb(226, 222, 178);
    text-align: center;
    font-size: 40px;
}

.formulario1 {
    width: 100%;
    text-align: center;
    background-color: rgb(164, 84, 23, 0.5);
    border: 1px solid rgb(226, 222, 178);  
    border-radius: 2vw;
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);
    padding-bottom: 2%;
}

.formulario1 h2 {
    font-size: 35px;
    color: rgb(226, 222, 178);
}

.botones-pedido2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
    margin-left: 15%;
}

.bot-ped2 {
    background-color: rgb(226, 222, 178);
    padding: 2%;
    margin-right: 25%;
    text-align: center;
    font-size: 25px;
    border-radius: 1vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-top: 5%;
}

.bot-ped2:hover {
    background-color: rgb(164, 84, 23);
    color: rgb(226, 222, 178);
    border: 2px solid rgb(226, 222, 178);
}

.confirmacion3 {
    color: rgb(226, 222, 178);
    margin-top: 8%;
}

.confirmacion3 h2 {
    font-size: 75px;
    text-align: center;
    margin-left: 70%;
}

.texto-confirmacion3 {
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23, 0.7);
    margin-top: 1%;
    margin-left: 52%;
    width: 100%;
    text-align: center;
}

.texto-confirmacion3 p {
    font-size: 40px;
    margin: 8%;
    padding: 2%;
}

.boton-seguimiento {
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23);
    font-size: 30px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 39%;
    margin-bottom: 6%;
    margin-left: 32%;
    border: 1px solid rgb(226, 222, 178);  
    border-radius: 1vw;
}

.boton-seguimiento:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
}

.seguimiento-pedido {
    color: rgb(226, 222, 178);
    width: 100%;
}

.seguimiento-pedido h2 {
    font-size: 65px;
    margin-top: 8%;
    margin-left: 15%;
}

.fotos-seguimiento {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(164, 84, 23, 0.7);
    margin-left: 8%;
    margin-right: 8%;
}


/* Estilo footer*/
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1%;
    background-color: rgb(226, 222, 178);
    margin: 0%;
    text-align: center;
}

.footer a {
    font-size: 20px;
    margin-left: 4%;
    margin-right: 5%;
    color: black;
}

.footer a:hover {
    color: blue; /*Cuando pasamos el cursor por encima del contenido del pie de página, este cambia de color a azul*/
}

.logos-footer {
    margin: 2%;
}