html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(img/fondo.png);
    background-attachment: fixed;
}

/* Tablet (768px breakpoint) */
@media only screen and (max-width: 768px) {
    #pagina1 .encabezado {
        /* Adjust the padding and font size for the header on tablets */
        display: none; /* Esconder el header en tablets, pero buscar manera para q solo se quede en la del inicio*/
        padding: 10px;
        font-size: 1.2em;
    }

    nav ul {
        /* Adjust the layout of the navigation list on tablet */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caja {
        /* Adjust the margin and text alignment for the .caja section on tablets */
        margin: 20px;
        width: 100%;
        height: 30%;
    }

    .caja p {
        /* Adjust the font size for the .caja paragraph on tablets */
        display: none;
    }

    .titulo {
        /* Adjust the font size for the .titulo heading on tablets */
        display: none;
    }
    .formulario {
        /* Adjust the margin and text alignment for the form on tablets */
        margin: 20px;
        text-align: center;
    }

    #acceder, #volver, #cerrar_sesion, #borrar_cuenta {
        /* Adjust the font size and padding for the button on tablets */
        font-size: 1.5em;
        padding: 10px 20px;
    }
    #crearcuenta {
        /* Adjust the font size and padding for the button on tablets */
        font-size: 1.5em;
        padding: 10px 20px;
    }
    .fotos {
        /* Adjust the margin and layout for the .fotos div on tablets */
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foto {
        /* Adjust the width and height for the images on tablets */
        max-width: 100%;
        height: auto;
    }

    .texto-hamburguesas {
        /* Adjust the font size for the .texto-hamburguesas heading on tablets */
        font-size: 1.5em;
    }
    .galeria-pedido {
        /* Adjust the layout for the .galeria-pedido div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cuadrado {
        /* Adjust the margin for the .cuadrado div on tablets */
        margin: 20px;
    }

    .photo {
        /* Adjust the width and height for the images on tablets */
        width: 100%;
        height: auto;
    }

    .boton-pideya {
        /* Adjust the font size and padding for the .boton-pideya div on tablets */
        font-size: 1.5em;
        padding: 10px 20px;
    }
    .cuadro-reservas {
        /* Adjust the layout for the .cuadro-reservas div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-reserva {
        /* Adjust the margin for the .texto-reserva div on tablets */
        margin: 20px;
    }

    .horas-reservas {
        /* Adjust the layout for the .horas-reservas div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boton-horas {
        /* Adjust the font size and padding for the .boton-horas button on tablets */
        font-size: 1.5em;
        padding: 10px 20px;
    }

    .confirmar-reserva {
        /* Adjust the font size and padding for the .confirmar-reserva div on tablets */
        font-size: 1.5em;
        padding: 10px 20px;
    }
    .confirmacion {
        /* Adjust the layout for the .confirmacion div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-confirmacion {
        /* Adjust the margin and font size for the .texto-confirmacion div on tablets */
        margin: 20px;
        font-size: 1.5em;
    }
    .cuadro-pedido {
        /* Adjust the layout for the .cuadro-pedido div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-grande, .texto-pequeño {
        /* Adjust the font size for the .texto-grande and .texto-pequeño paragraphs on tablets */
        font-size: 1.5em;
    }

    .actions {
        /* Adjust the layout for the .actions div on tablets */
        display: flex;
        justify-content: space-around;
    }
    .confirmacion2 {
        /* Adjust the layout for the .confirmacion2 div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-confirmacion2 {
        /* Adjust the margin and font size for the .texto-confirmacion2 div on tablets */
        margin: 20px;
        font-size: 1.5em;
    }

    .botones-pedido {
        /* Adjust the layout for the .botones-pedido div on tablets */
        display: flex;
        justify-content: space-around;
    }
    .pag-pago {
        /* Adjust the layout for the .pag-pago div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulario1 {
        /* Adjust the layout for the .formulario1 form on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botones-pedido2 {
        /* Adjust the layout for the .botones-pedido2 div on tablets */
        display: flex;
        justify-content: space-around;
    }
    .confirmacion3 {
        /* Adjust the layout for the .confirmacion3 div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-confirmacion3 {
        /* Adjust the margin and font size for the .texto-confirmacion3 div on tablets */
        margin: 20px;
        font-size: 1.5em;
    }

    .boton-seguimiento {
        /* Adjust the layout for the .boton-seguimiento div on tablets */
        display: flex;
        justify-content: center;
    }
    .seguimiento-pedido {
        /* Adjust the layout for the .seguimiento-pedido div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fotos-seguimiento {
        /* Adjust the layout for the .fotos-seguimiento div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        /* Adjust the layout for the .footer div on tablets */
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

/* Mobile Styles (600px and below) */
@media only screen and (max-width: 600px) {
    .encabezado {
        /* Adjust styles for the header on mobile phones */
    }

    nav ul {
        /* Adjust styles for the navigation on mobile phones */
    }

    /* ... Add more styles for mobile layout ... */
}

* {
    box-sizing: border-box;
}

.page {
    /*background-image: url(fondo.png);*/
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.page1 {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.section {
    display: none;
}


#pagina1 {
    display: flex;
}

/*Estilo de la barra del menú*/
.encabezado {
    background-color: rgb(164, 84, 23, 0.8); /* Fondo semitransparente para el encabezado */
    position: fixed;
    display: block;
    width: 100%; /*Queremos que ocupe todo el ancho de página*/
    z-index: 1000;
}

/*Estilo para el botón de iniciar sesión del menú*/
.user {
    background-color: rgb(164, 84, 23, 0.7);
    font-size: 25px;
    padding: 0.4%;
    margin-top: 1.5%;
    margin-bottom: 1.8%;
    margin-left: 2%;
}

.user:hover {
    background-color: rgb(164, 84, 23);
    border: 1px solid rgb(226, 222, 178);
}

/*Estilo del texto del menú*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /*Centra verticalmente los elementos de la lista*/
    width: 100%;
}

li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: rgb(226, 222, 178);
    font-weight: bold;
    text-align: center;
    padding: 2px;
    padding-right: 50px;
}

nav a.bb {
    font-size: 90px;
    margin-right: auto; /*Empuja el elemento BB hacia la izquierda*/
}

nav a.inicio, a.resto, a.enlace-pedido, a.enlace-reserva{
    font-size: 45px;
}

nav a.inicio:hover, a.resto:hover, a.enlace-pedido:hover, a.enlace-reserva:hover{
    color: rgb(164, 84, 23);
    font-size: 45px;
    -webkit-text-stroke: 0.7px rgb(226, 222, 178); /*Borde de color para el texto*/
}

/*Estilo de la página principal*/
/*Cuadro de texto*/
.caja {
    background-color: rgb(164, 84, 23, 0.5); /* Fondo semitransparente del cuadro */
    padding: 3%;
    margin: 5%; /* Espaciado externo del cuadro */
    margin-top: 10%;
    text-align: center;
    border-radius: 10px; /* Esquinas redondeadas del cuadro */
    margin-bottom: 8%;
}

.caja p {
    font-size: 40px;
    color: rgb(226, 222, 178);
    margin-bottom: 10%;
    margin-top: 5%;
}

/*Botón que te lleva al página del pedido*/
.pide {
    background-color: rgb(164, 84, 23, 0.9);
    color: rgb(226, 222, 178);
    font-size: 40px;
    padding: 2%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 10px;
    text-decoration: none;
}

.pide:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
    border: 1px solid rgb(164, 84, 23);
}

.titulo {
    margin-top: 10%;
    margin-left: 2%;
    font-size: 105px;
    color: rgb(226, 222, 178);
}

.idioma {
    font-size: 28px;
    margin-top: 18%;
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23);
    padding: 1%;
    border: 1px solid rgb(226, 222, 178);
    border-radius: 1vw;
}

.bandera {
    text-decoration: none;
    color: rgb(226, 222, 178);
}

.bandera:hover {
    color: black;
}

/*Página de inicio de sesión*/
/*Estilo de los formularios de acceso a la cuenta y registro*/
.formulario {
    width: 70%; 
    text-align: center;
    background-color: rgb(164, 84, 23, 0.5);
    border: 1px solid rgb(226, 222, 178);
    margin-top: 11%;
    margin-left: 15%;
    margin-bottom: 5%;
    border-radius: 2vw;
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);
}

.formulario h2 {
    font-size: 43px;
    color: rgb(226, 222, 178);
}

.formulario h3 {
    font-size: 30px;
    color: rgb(226, 222, 178);
}

.formulario a {
    font-size: 38px;
    color: rgb(226, 222, 178);
    font-weight: bold;
}

.formulario a:hover {
    color: rgb(164, 84, 23);
    background-color: rgb(226, 222, 178, 0.5);
    margin-left: 22%;
    margin-right: 22%;
}

/*Estilo de los componentes del formulario*/
input {
    border: 2px solid rgb(226, 222, 178);
    border-radius: 5vw;
    padding: 0.55%;
    padding-left: 2%;
    padding-right: 60%;
    font-size: 15px;
    margin: 1.7vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    font-size: 2vh;
    margin-top: 1vh;
}

button {
    margin: 2%;
    border-radius: 0.5vw;
    padding: 0.5%;
    padding-left: 25%;
    padding-right: 25%;
    cursor: pointer;
    background-color: rgb(164, 84, 23, 0.9);
    color: rgb(226, 222, 178);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*Página de la carta*/
/*Estilo de las fotos*/
.fotos {
    margin: 5%;
    margin-top: 11%;
}

.fotos a {
    text-decoration: none;
}

.fotos a:hover {
    text-decoration: none;
}

.foto {
    border: 2px solid rgb(226, 222, 178);
}

/*Estilo del texto de debajo de las fotos*/
.texto-hamburguesas {
    color: rgb(226, 222, 178);
    text-align: center;
    font-size: 44px;
}

.texto-hamburguesas:hover {
    color: rgb(164, 84, 23);
}

/*Página que muestra las hamburguesas*/
.galeria-contenedor {
    overflow-x: hidden;
    white-space: nowrap;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.flecha-izquierda,
.flecha-derecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.flecha-izquierda {
    left: 10px;
}

.flecha-derecha {
    right: 10px;
}

.galeria-pedido {
    display: flex;
    white-space: nowrap;
    transition: transform 0.3s ease;
    margin-top: 6%;
}

.cuadrado {
    flex: 0 0 22%; /* Ajusta el tamaño de cada cuadrado para que haya 4 en una fila */
    background-color: rgb(164, 84, 23);
    padding: 2%;
    padding-left: 3.5%;
    margin: 7% 2% 7%; /* Ajustes de margen para separar los cuadrados */
    box-sizing: border-box;
    border: 2px solid rgb(226, 222, 178);
}

.cuadrado p {
    color: rgb(226, 222, 178);
    font-size: 110%;
    text-align: center;
}

.photo {
    width: 200px; /* Establece el ancho deseado para todas las fotos */
    height: 200px; /* Establece la altura deseada para todas las fotos */
    object-fit: cover; /* Ajusta la forma en que la imagen se ajusta al contenedor */
    border: 2px solid rgb(226, 222, 178);
}

.anterior,
.siguiente {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.siguiente {
    right: 10px;
}

.anterior {
    left: 10px;
}

/*Estilo del botón que lleva a la página del pedido*/
.boton-pideya {
    background-color: rgb(164, 84, 23);
    font-size: 40px;
    margin-left: 80%;
    padding: 0.5%;
    text-align: center;
    border-radius: 1vw;
    border: 1px solid rgb(226, 222, 178);
}

.boton-pideya a{
    text-decoration: none;
    color: rgb(226, 222, 178);
}

.boton-pideya:hover {
    background-color: rgb(226, 222, 178);
    border: 1px solid rgb(164, 84, 23);
}

.boton-pideya a:hover {
    color: rgb(164, 84, 23);
}

/*Página de las reservas*/
.cuadro-reservas {
    width: 60%; /*Queremos que el cuadrado solo ocupe un 60% del espacio de la página*/
    margin: 3%;
    margin-top: 8%;
    margin-bottom: 4.5%;
    display: grid;
    grid-template-columns: repeat(3,1fr); /*Separamos el cuadrado en tres columnas del mismo tamaño*/
    background-color: rgb(164, 84, 23, 0.5);
    color: rgb(226, 222, 178);
    border-radius: 1vw;
}

/*Estilo de la primera columna*/
.texto-reserva {
    margin: 8%;
    margin-bottom: 12%;
    margin-left: 12%;
    font-weight: bold;
}

.foto-rest {
    margin-left: 6%;
}

/*Estilo de la segunda columna*/
.telfs {
    margin-top: 8%;
}

.tel1 {
    margin-top: 16%;
}

.tel2 {
    margin-top: 15%;
}

.tel3 {
    margin-top: 15%;
}

/*Estilo de la tercera columna*/
.horas-reservas {
    margin-top: 17%;
    margin-left: 25%;
}

.horas {
    margin-bottom: 18%;
}

.boton-horas:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
}

/*Estilo del botón que lleva a la página de confirmación de la reserva*/
.confirmar-reserva {
    background-color: rgb(164, 84, 23);
    color: rgb(226, 222, 178);
    margin: 2%;
    margin-top: 37.5%;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 20%;
    text-align: center;
    border-radius: 1vw;
    border: 1px solid rgb(226, 222, 178);
    font-weight: bold;
}

.confirmar-reserva a {
    text-decoration: none;
    color: rgb(226, 222, 178);
}

.confirmar-reserva a:hover {
    color: rgb(164, 84, 23);
}

.confirmar-reserva p {
    margin: 5%;
    font-size: 30px;
}

.confirmar-reserva:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
}

/*Página de confirmación de la reserva*/
.confirmacion {
    color: rgb(226, 222, 178);
    margin-top: 8%;
}

.confirmacion h2 {
    font-size: 75px;
    text-align: center;
    margin-left: 65%;
}

.texto-confirmacion {
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23, 0.5);
    margin-top: 1%;
    margin-left: 43%;
    width: 100%;
    text-align: center;
}

.texto-confirmacion p {
    font-size: 40px;
    margin: 8%;
    padding: 2%;
}

/*Página del pedido*/
.cuadro-pedido {
    display: grid;
    grid-template-columns: repeat(1, 4fr 1fr);
    background-color: rgb(164, 84, 23, 0.5);
    color: rgb(226, 222, 178);
    width: 75%; 
    margin: 2%;
    margin-top: 8%;
    margin-bottom: 5%;
}

/*Estilo de los títulos de las hamburguesas*/
.texto-grande {
    font-weight: bold;
    font-size: 18px;
    margin-left: 2%;
}

/*Estilo de las descripciones de las hamburguesas*/
.texto-pequeño {
    font-size: 15px;
    margin-left: 2%;
    margin-bottom: 1.8%;
}

/*Estilo de los botones que suman y restan elementos al carrito*/
.sumaelementos {
    display: grid;
    grid-template-rows: repeat(7, 1fr); /*Lo organizamos en 7 filas del mismo tamaño*/
    margin: 7%;
    margin-left: 30%;
    font-weight: bold;
}

.actions button {
    font-size: 25px; 
    padding: 5px; 
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(164, 84, 23);
}

.actions {
    display: inline-block; 
    max-width: 100%; 
}

/*Estilo del botón que lleva a la página de la revisión del pedido*/
.boton-siguiente {
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23);
    font-size: 35px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 39%;
    margin-bottom: 5.5%;
    border-radius: 1vw;
    border: 1px solid rgb(226, 222, 178);
}

.boton-siguiente a {
    text-decoration: none;
    color: rgb(226, 222, 178);
    font-weight: bold;
}

.boton-siguiente:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
    border: 1px solid rgb(164, 84, 23);
}

.boton-siguiente a:hover {
    color: rgb(164, 84, 23);
}

/*Página de revisión del pedido*/
.confirmacion2 {
    font-size: 45px;
    color: rgb(226, 222, 178);
    margin-top: 8%;
    margin-left: 20%;
}

.texto-confirmacion2 {
    color: black;
    background-color: rgb(226, 222, 178);
    margin-top: 1%;    
    font-size: 30px;
    border-radius: 1vw;
}

.texto-confirmacion2 p {
    margin: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.foto-carrito {
    margin-left: 62%;
}

/*Estilo para los botones de "Volver" y "Siguiente"*/
.botones-pedido {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*Ponemos dos columnas*/
    color: black;
    margin-left: 15%;
}

.botones-pedido a {
    text-decoration: none;
    color: black;
}

.bot-ped1 {
    background-color: rgb(226, 222, 178);
    padding: 1.5%;
    margin-right: 25%;
    text-align: center;
    font-size: 40px;
    border-radius: 1vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /*Sombreado para el texto de los botones*/
}

.bot-ped1:hover {
    background-color: rgb(164, 84, 23);
    color: rgb(226, 222, 178);
    border: 2px solid rgb(226, 222, 178);
}

/*Página de pago del pedido*/
.pag-pago {
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4.5%;
    color: rgb(226, 222, 178);
    text-align: center;
    font-size: 40px;
}

/*Estilo del formulario del pago*/
.formulario1 {
    width: 100%;
    text-align: center;
    background-color: rgb(164, 84, 23, 0.5);
    border: 1px solid rgb(226, 222, 178);  
    border-radius: 2vw;
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);
    padding-bottom: 2%;
}

.formulario1 h2 {
    font-size: 35px;
    color: rgb(226, 222, 178);
}

/*Estilo para los botones "Volver" y "Pagar"*/
.botones-pedido2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*Ponemos dos columnas*/
    color: black;
    margin-left: 15%;
}

.botones-pedido2 a {
    text-decoration: none;
    color: black;
}

.bot-ped2 {
    background-color: rgb(226, 222, 178);
    padding: 2%;
    margin-right: 25%;
    text-align: center;
    font-size: 25px;
    border-radius: 1vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-top: 5%;
}

.bot-ped2:hover {
    background-color: rgb(164, 84, 23);
    color: rgb(226, 222, 178);
    border: 2px solid rgb(226, 222, 178);
}

/*Página de confirmación del pedido*/
.confirmacion3 {
    color: rgb(226, 222, 178);
    margin-top: 8%;
}

.confirmacion3 h2 {
    font-size: 75px;
    text-align: center;
    margin-left: 70%;
}

.texto-confirmacion3 {
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23, 0.7);
    margin-top: 1%;
    margin-left: 52%;
    width: 100%;
    text-align: center;
}

.texto-confirmacion3 p {
    font-size: 40px;
    margin: 8%;
    padding: 2%;
}

/*Estilo del botón que nos lleva a la página del seguimiento*/
.boton-seguimiento {
    color: rgb(226, 222, 178);
    background-color: rgb(164, 84, 23);
    font-size: 30px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 39%;
    margin-bottom: 6%;
    margin-left: 30%;
    border: 1px solid rgb(226, 222, 178);  
    border-radius: 1vw;
    font-weight: bold;
}

.boton-seguimiento a {
    text-decoration: none;
    color: rgb(226, 222, 178);
}

.boton-seguimiento:hover {
    background-color: rgb(226, 222, 178);
    color: rgb(164, 84, 23);
}

.boton-seguimiento a:hover {
    color: rgb(164, 84, 23);
}

/*Página del seguimiento del pedido*/
.seguimiento-pedido {
    color: rgb(226, 222, 178);
    width: 100%;
}

.seguimiento-pedido h2 {
    font-size: 65px;
    margin-top: 8%;
    margin-left: 15%;
}

/*Estilo de los pasos del seguimiento*/
.seguimiento-pedido {
    margin-top: 1%;
}
  
.fotos-seguimiento {
    display: flex;
    justify-content: space-around;
}
  
.foto-container {
    display: none; /* Inicialmente oculta todas las fotos */
    background-color: rgb(164, 84, 23, 0.7);
    padding: 2%;
    text-align: center;
    font-weight: bold;
}
  
.texto-seguimiento {
    font-size: 30px;
}


/* Estilo footer*/
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1%;
    background-color: rgb(226, 222, 178);
    margin: 0%;
    text-align: center;
}

.footer a {
    font-size: 20px;
    margin-left: 4%;
    margin-right: 5%;
    color: black;
}

.footer a:hover {
    color: blue; /*Cuando pasamos el cursor por encima del contenido del pie de página, este cambia de color a azul*/
}

.logos-footer {
    margin: 2%;
}